<form [formGroup]="form">
  <div class="row g-2 mt-2">
    <div class="col-12 col-md-6">
      <label class="">Entrada</label>
      <input
        type="date"
        class="form-control form-control-sm availability-input"
        formControlName="checkIn"
      />
    </div>
    <div class="col-12 col-md-6">
      <label class="">Salida</label>
      <input
        type="date"
        class="form-control form-control-sm availability-input"
        formControlName="checkOut"
      />
    </div>
  </div>
</form>
<app-availability-results
  [checkIn]="checkInValue"
  [checkOut]="checkOutValue"
></app-availability-results>
